* {
    margin: 0px;
    padding: 0px;
}
html, body {
    font-family: 'Open Sans', sans-serif;
}


h1 {
    font-family: 'Mukta', sans-serif;
    font-size: 62px;
    color: grey;
    letter-spacing: 15px;
}
h2 {
    font-family: 'Mukta', sans-serif;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 5px;
}
h3 {
    font-family: 'Mukta', sans-serif;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1.5px;
}
p {
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 2em;
}

.welcome-page {
    background-image: url("https://www.fasken.com/-/media/29b8b6a371344d40a392350b395691d6.ashx");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-page {
    background-image: url("https://www.wallpaperflare.com/static/542/50/545/simple-background-blue-simple-minimalism-wallpaper.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-content h2{
    color: grey;
}
.about-content p{
    color: grey;
}
.skill-type ul li {
    list-style: none;
}
.skill-type ul li p {
    text-decoration: none;
    font-size: 16px;
}